.container {
  width: 100%;
  /* min-height: 783px; */
  padding: 12em 0 6em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.redes,
.contacts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 36px;
}

.linha {
  min-width: 95px;
  height: 8px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--background-components);
  margin: 1em 0 2em 0;
}

.box {
  margin: 2em 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.text {
  font-size: 20px;
  text-align: center;
  margin: 2em 0;
}

/* Hover */
.title:hover ~ .linha {
  background-color: var(--prom);
}
