.footer {
  width: 100%;
  min-width: 280px;
  gap: 0.5em;
  padding: 1em 0;
  border: none;
  box-shadow: 0px 0px 40px var(--secondary-color);
  font-weight: bold;
}

.assignature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
}

.anchor {
  text-decoration: none;
}

/* Hover */
.anchor:hover {
  color: var(--prom);
}

/* Media */
@media screen and (max-width: 300px) {
  .assignature {
    flex-direction: column;
    gap: 0.5em;
  }
}
