@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--background);
}

:root {
  --background: #212529;
  --primary-color: #ffffff;
  --prom: #28a745;
  --background-components: #1e5631;
  --secondary-color: #adb5bd;
}

html {
  min-width: 280px;
}

.limit {
  max-width: 1024px;
  margin: 0 auto;
}

/* Media */
@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
}

@media screen and (max-width: 300px) {
  .container {
    padding-top: 250px;
  }
}
