.header {
  width: 100%;
  border-bottom: 0.3em solid var(--background-components);
  position: fixed;
  z-index: 1;
}

.nav {
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  gap: 1em;
}

.link {
  background-color: transparent;
  border: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.selected {
  color: var(--background-components);
}

/* Button Theme */
.buttonTheme {
  border: 0.2em solid var(--prom);
  background-color: var(--primary-color);
  border-radius: 20px; /* Alterado para um visual mais premium */
  width: 60px; /* Aumentado para mais espaço */
  height: 30px; /* Aumentado para mais espaço */
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px; /* Adicionado para espaçamento interno */
  transition: background-color 0.3s ease, border 0.3s ease; /* Transições suaves */
}

.buttonTheme > i {
  background-color: transparent;
  color: var(--prom);
  border-radius: 50%; /* Tornar o ícone circular */
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Transição suave para a posição */
}

.buttonTheme.checked > i {
  transform: translateX(30px); /* Mover o ícone para a direita */
}

.buttonTheme:hover {
  border-color: var(
    --secondary-color
  ); /* Alterar a cor da borda ao passar o mouse */
  background-color: var(
    --background-components
  ); /* Alterar a cor de fundo ao passar o mouse */
}

.buttonTheme > i:hover {
  background-color: var(
    --secondary-color
  ); /* Alterar a cor do ícone ao passar o mouse */
}

.leftSlipButton {
  justify-content: left !important;
}

.rightSlipButton {
  justify-content: right !important; /* Mover o conteúdo para a direita */
}

/* Visibility */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* Hover */
.link:hover {
  color: var(--prom);
}

/* Media */

@media screen and (min-width: 501px) {
  .nav {
    visibility: visible;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
    box-shadow: 0px 0px 40px var(--prom);
  }
}
