.header {
  width: 100%;
  border-bottom: 0.3em solid var(--background-components);
  position: fixed;
  z-index: 1;
}

.nav {
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.link {
  background-color: transparent;
  border: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.selected {
  color: var(--background-components);
}

/* Visibility */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* Hover */
.link:hover {
  color: var(--prom);
}

/* Media */

@media screen and (min-width: 501px) {
  .nav {
    visibility: visible;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
    box-shadow: 0px 0px 40px var(--prom);
  }
}
