.container {
  padding: 2em 0;
  width: 100%;
  padding-top: 15.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: transparent;
}

.title {
  font-size: 42px;
  background-color: transparent;
}

.subtitle {
  font-size: 30px;
  background-color: transparent;
}

.tecnologies {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5em;
  flex-wrap: wrap;
  background-color: transparent;
}

.tech {
  width: 70px;
  height: 70px;
  background-color: transparent;
  margin: 0.3em 0;
}

.button {
  display: flex;
  gap: 0.5em;
  padding: 0.7em;
  border: none;
  border-radius: 0.7em;
  background-color: var(--background-components);
  font-size: 18px;
  margin-top: 1em;
  text-decoration: none;
}

.button > i {
  background-color: transparent;
}

.photo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  opacity: 0.8;
}

/* About */

.about {
  width: 1005;
  padding: 2em;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linha {
  min-width: 95px;
  height: 8px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--background-components);
  margin: 1em 0 2em 0;
}

.text {
  text-align: justify;
}

/* Hover */
.button:hover {
  background-color: var(--prom);
}

.photo:hover {
  box-shadow: 0px 12px 100px var(--prom);
  opacity: 1;
}

.tech:hover {
  padding-top: 0.3em;
}

.title:hover ~ .subtitle {
  color: var(--prom);
}

.title:hover ~ .linha {
  background-color: var(--prom);
}

/* Media */
@media screen and (max-width: 677px) {
  .container {
    padding-top: 10em;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 20px;
  }
  .photo {
    width: 180px;
    height: 180px;
  }
  .tech {
    width: 45px;
  }
}

@media screen and (max-width: 300px) {
  /* .container {
    padding-top: 15em;
  } */
}
